sootOutput
*.jar
!soot-boomerang.jar
.classpath
.project
.gradle
.settings
build/
classes/
tmp/
*.pyc
*.log
evaluation/*/generated
evaluation/*/struts_generated
evaluation/subsonic/generated-jsp
evaluation/*/stats.yml
evaluation/*/perf.yml
#evaluation/*/sites.yml
#evaluation/*/reports.yml
evaluation/*/no_opt.yml
evaluation/**/*.class
